<div class="info-header">
    <h4 style="font: revert;">Role : {{$.Role}}</h4>
    <!-- </div> -->
    <!-- <div style="margin-top:30px; margin-bottom:30px; 
    text-align-last: center;
    "> -->
    {{if .Notifs}}
    <div>
        <button class="notif btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#cllpse"
            aria-expanded="false" aria-controls="cllpse">{{len .Notifs}}</button>
        <div class="alert alert-danger alertdiv collapse" id="cllpse" role="alert">
            {{range .Notifs}}
            <p>{{.}}</p>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
<div class="schedulediv">
    <div class="container schedule" id="schedule_container">
        {{range $I, $D := .Days}}
        <div class="col-sm">
            <h3>{{$D}} Monday</h3>
            <div class="schedule-body">
                <p>{{index $.Tasks $I}}</p>
            </div>
            <div class="schedule-footer">
                <div class="meeting" {{if index $.Important $I}} style="visibility: visible;" {{else}}
                    style="visibility: hidden;" {{end}}>
                    <h5>{{index $.Important $I}}</h5>
                </div>
                <button class="btn btn-primary">Write Daily Report</button>
            </div>
        </div>

    </div>
</div>